sources.yml
!spec/fixtures/sources.yml

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/

.env

/.bundle/
/vendor/bundle
/lib/bundler/man/

Gemfile.lock

.rvmrc
